*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* .eliminar{
    display: none;
} */

.containerdifuso{
   display: none;
}


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    gap: 15px;

}

.pokemon{
    filter: contrast(1.2);
    margin: 15px;
   box-shadow: 1px 1px 25px grey;
   max-width: 190px;
   border-radius: 35px;
    height: 235px;
    transition: 1s all;
}

.desplegar{
    text-shadow: 1px 1px 1px yellow;
    word-wrap: break-word;
    position: relative;
    z-index: -100;
    top: -150px;
    transition: 1s all;
}

.pokemon:hover .desplegar{
    
    top: 0;
}

.pokemon:hover{
    padding-bottom: 185px;
    outline: 5000px solid rgba(150, 150, 150, .1);
}

